<%if accounts.present?%>
  <% accounts.each do |account| %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal", style="display: flex;">
                        <div class="img-square-wrapper" style='width:40%'>
                            <%= image_tag account.image_box, style:'width:70%; height:100%' %>
                        </div>
                        <div class="card-body">

                            <h4 class="card-title"><%=account.full_name%> <button type="button" class="btn btn-primary">
                                                    <%=account.roles%> </button>
                            </h4>
                            <p class="card-text" style='font-size:1rem'><b>Details:  </b><%=account.details%></p>
                             <%= link_to "View Profile", profile_path(account.id), class:'btn btn-sm btn-success' %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted" style='font-size:1rem'> Registered for <%= time_ago_in_words account.created_at %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <%end%>
<%else%>
  <h3>No accounts Found! </h3>
  <p class=lead>Create One by signing Up</p>
<%end%>
