<main role="main" class="main-banner" id="home-banner">

  <div class="jumbotron" bis_skin_checked="1">
    <div class="container" style="width:100%;" bis_skin_checked="1">
        <div style="line-height:10em">
          <br>
          <br>
        </div>
    </div>
  </div>

  <%= form_tag root_path, method: :get do %>

   <div class=" container col-lg-5">
     <p class="font-weight-bold">Search from thousands of listing everyday!</p>

    <!--Grid column-->
    <div class="col-md-6 mb-4">
     <span>
        <%=label_tag 'Search Keyword'%> <i class="fas fa-search"></i>
        <%= text_field_tag :"q[name_cont]"%>
        <%= submit_tag "Search", data: { disable_with: "Searching..." }, class: "btn btn-unique btn-rounded btn-sm btn-success mt-2"%>
        <% end %>
       <span>
    </div>
  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest Properties</h3>
      <div class="row" bis_skin_checked="1">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>

  <section id="latest-posts" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest News</h3>
      <div class="row" bis_skin_checked="1">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
  </section>

  <div class="container" bis_skin_checked="1">

    <div class="row" bis_skin_checked="1">
      <div class="col-md-4" bis_skin_checked="1">
        <h2 style='color:blue'>Plastic Road: Pakistan’s Next Step Towards Eco-friendliness</h2>
        <p>Pakistan’s recent efforts towards eco-friendliness, which includes the massive tree plantation drive across the country, have been lauded by the global community. Once again, the country is paving the way towards reducing its plastic waste by using it to build roads.</p>
        <p><a class="btn btn-secondary" href="https://www.zameen.com/blog/plastic-road-islamabad.html" role="button" target='blank'>Read More »</a></p>
      </div>
      <div class="col-md-4" bis_skin_checked="1">
        <h2 style='color:blue'>The Best Places to See in Islamabad for Tourists</h2>
        <p>The largest Ferris wheel in Pakistan will be around 180 feet high. It will be installed at Lake View Park. The development of phase-II of the park, which was stalled for over a decade, has now also been resumed. Work on the country’s largest Ferris wheel and the expansion of the park is rapidly progressing and is expected to be completed and inaugurated by March 23, 2022.</p>
        <p><a class="btn btn-secondary" href="https://www.zameen.com/blog/top-tourist-attractions-islamabad.html" role="button" target='blank'>Read More »</a></p>
      </div>
      <div class="col-md-4" bis_skin_checked="1">
        <h2 style='color:blue'>All You Need to Know About Green Line Metrobus, Karachi</h2>
        <p>Prime Minister Imran Khan visited Karachi on Friday to launch the long-awaited Green Line BRT project, which is the largest metro bus route in the city. The inauguration ceremony took place at the main station of the Green Line project, which has been constructed at Numaish Chowrangi. </p>
        <p><a class="btn btn-secondary" href="https://www.zameen.com/blog/progress-green-line-brt-karachi.html" role="button" target='blank'>Read More »</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>
