<main role="main" class="main-banner" id="home-banner">

  <div class="jumbotron" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
      <h1 class="display-3">From The people to the people...</h1>
      <p>Choose from hundreds of beautiful bungalows, apartments.</p>
      <p><a class="btn btn-success" href="#=" role="button" target="_blank">Learn more »</a></p>
    </div>
  </div>

  <%= form_tag root_path, method: :get do %>

   <div class=" container col-lg-5">
     <p class="font-weight-bold">Search from thousands of listing everyday!</p>

    <!--Grid column-->
    <div class="col-md-6 mb-4">
     <span>
        <%=label_tag 'Keyword'%>
        <%= text_field_tag :"q[name_cont]"%>
        <%= submit_tag "Search", data: { disable_with: "Searching..." }, class: "btn btn-unique btn-rounded btn-sm btn-success mt-2"%>
        <% end %>
       <span>
    </div>
  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest Properties</h3>
      <div class="row" bis_skin_checked="1">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>

  <section id="latest-posts" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest News</h3>
      <div class="row" bis_skin_checked="1">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
  </section>

  <div class="container" bis_skin_checked="1">

    <div class="row" bis_skin_checked="1">
      <div class="col-md-4" bis_skin_checked="1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4" bis_skin_checked="1">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4" bis_skin_checked="1">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>
